body{
    height: 100vh; 
    background: linear-gradient(-45deg, #7e2fc6, #55108f, #20003b);
    padding: 0;
    margin: 0;
}

p, label{
    color: white;
    font-size: 1.2em;
    font-family: Arimo, sans-serif, Arial;
    font-size: 16px;
}

#login{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.left_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99,9vh;
    width: 50%;
}

.titulo{
    font-weight: bold;
    font-size: 38px;
}

.formulario_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto_input{
   position: relative;
   right: 100px;
   top: 5px;
   font-weight: bold;
}

.input{
    width: 260px;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 10px;
    color: white;
    background: linear-gradient(90deg, #cf85ff, #ae49eb, #a24dd4b4);
    box-shadow: 0px 5px 10px #030303a8;
}

.botao_entrar{
    width: 200px;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    padding-left: 10px;
    color: white;
    background: linear-gradient(90deg, #cf85ff, #ae49eb, #a24dd4b4);
    margin-top: 30px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.botao_entrar:hover{
    box-shadow: 0px 5px 10px #030303a8;
    cursor: pointer;
    transform: translateY(-3px);
}

.texto_link{
    color: white;
    font-size: 10px;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.right_login {
    height: 100vh;
    width: 50%;
    position: relative; /* Permite o posicionamento absoluto do círculo */
    overflow: hidden; /* Garante que não haja scroll */
}

.circulo {
    width: 100vh; /* Aumenta o tamanho do círculo */
    height: 100vh;
    border: 18px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 50%;
    position: absolute; /* Permite deslocar o círculo */
    top: 50%; /* Centraliza verticalmente */
    left: 30%; /* Desloca para a direita */
    transform: translate(-15%, -50%); /* Ajusta a posição para ultrapassar a tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circulo img {
    width: 40%; /* Mantém o tamanho da imagem */
    height: auto; /* Evita deformação */
    border-radius: 30%; /* Bordas arredondadas */
    position: relative; /* Mantém o posicionamento atual */
    top: 30px;

}

.circulo p {
    color: white;
    margin-bottom: 180px;
    position: relative;
    bottom: 30px;

    text-align: left; /* Mantém o texto alinhado à esquerda */
}


p span {
    display: flex;
}

.status{
    color: white;
    font-size: 1.2em;
    font-family: Arimo, sans-serif, Arial;
    font-size: 16px;
    position: relative;
    top: 65px;
}
  
