

p, label, h1, h2, h3, h4, h5, h6{
    font-family: Arimo, sans-serif;
}

body{
    background: linear-gradient(90deg, #ba58f9, #8d2cc7, #7616ad);
    overflow-x: hidden;
}

/* Barra navegação */

.navbar {
  background-color: #50187c !important; /* Sobrescreve as classes do Bootstrap */
}

.nav-item {
  color: inherit;
}

.nav-link {
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease; /* Transição suave */
}

.nav-link:hover {
  color: #d1c4e9;
}

/* Main */

.container_filmes{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80vw;
    height: 80vh;

}

.box_filmes{
    display: flex;
    flex-direction: column;


}

.titulo{
    font-weight: bold;
    font-size: 20px;
    color: snow;
    margin-bottom: 10px;
}

.filmes{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    height: 230px;
}

.filme img{
    transition: transform 0.2s;

}

.filme img:hover{
    box-shadow: 0px 5px 10px #030303a8;
    transform: scale(1.05);
}

.titulo_filme{
    font-size: 14px;
    color: snow;
    font-weight: bold;
}